section.about
	.container
		.row.text-center
			.col-md-12
				h2 ABOUT
				h5 Lorem ipsum dolor sit amet consectetur.
		.row.linetime
			.col-md-6.text-right
				img.img-circle(src="img/about/1.jpg")
				+panel("2009-2001","Our Humble Beginnings")
		.row
			.col-md-6.col-md-offset-6.text-left
				img.img-circle(src="img/about/2.jpg")
				+panel("MARCH 2011","An Agency is Born")
		.row
			.col-md-6.text-right
				img.img-circle(src="img/about/3.jpg")
				+panel("DECEMBER 2012","Transition to Full Service")
		.row
			.col-md-6.col-md-offset-6.text-left
				img.img-circle(src="img/about/4.jpg")
				+panel("JULY 2014","Phase Two Expansion")