footer
	.container.text-center
		.row
			.col-md-4
				span Copyright &copy; Your Website 2014
			.col-md-4
				a.fa.fa-twitter.fa-stack(href="#")
				a.fa.fa-facebook.fa-stack(href="#")
				a.fa.fa-linkedin.fa-stack(href="#")
			.col-md-4.terms_use
				a(href="#")
					span Privacy Policy&nbsp;&nbsp;&nbsp;
				a(href="#") 
					span Terms of Use