header
    nav.navbar.navbar-default.navbar-fixed-top
        .container.navegador
            .navbar-header
                button(type='button',class='navbar-toggle collapsed',data-toggle='collapse',data-target='#bs-example-navbar-collapse-1',aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(class='navbar-brand',href='#') Start Bootstrap

            .collapse.navbar-collapse#bs-example-navbar-collapse-1
                ul.nav.navbar-nav.navbar-right
                    li: a(href='#') SERVICES
                    li: a(href='#') PORTFOLIO
                    li: a(href='#') ABOUT
                    li: a(href='#') TEAM
                    li: a(href='#') CONTACT