section.portfolio
	.container.text-center
		.row
			.col-md-12
				h2 PORTFOLIO
				h5 Lorem ipsum dolor sit amet consectetur.
		+imagenes("roundicons","Round Icons","Graphic Design","startup-framework","Startup Framework","Website Design","treehouse","Treehouse","Website Design")
		+imagenes("golden","Golden","Website Design" ,"escape","Escape","Website Design","dreams","Dreams","Website Design")
		