section.services
	.container.text-center
		.row
			.col-md-12
				h2 SERVICIES
				h5 Lorem ipsum dolor sit amet consectetur.
		+services("commerce","E-Comerce","responsive","Responsive Desing","desing","Web Security")