section.sponsor
	.container.text-center
		.row
			.col-xs-6.col-md-3
				+imgjpg_sponsor("envato")
			.col-xs-6.col-md-3
				+imgjpg_sponsor("designmodo")
			.col-xs-6.col-md-3
				+imgjpg_sponsor("themeforest")
			.col-xs-6.col-md-3
				+imgjpg_sponsor("creative-market")