section.team
	.container.text-center
		.row
			.col-md-12
				h2 OUR AMAZING TEAM
				h5 Lorem ipsum dolor sit amet consectetur.
		.row
			+team("1","Kay Carland","Lead Designer")
			+team("2","Larry Parker","Lead Marketer")
			+team("3","Diana Pertersen","Lead Developer")
			.col-md-12
				p.text_team Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.