.banner{
	background-image: url(../../img/header-bg.jpg);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	color: white;
	padding: 19.5% 0;
	h1{
		font-size: 5.3em;
	}
	h2{
		font-family: "Droid Serif";
		font-style: italic;
        font-size: 3em;
	}
}
